/* @media (min-width: 768px) {
  .SideNav {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(100vh - 3rem);
    background-color: #f7f7f7;
    border-right: 1px solid #ececec;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 3rem;
    padding-right: 15px;
    padding-left: 15px;
  }
} */
/* 
.sidebar {
  margin-top: 3.5rem;

  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  z-index: 0;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
} */

/* .navwrapper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: #2f89fc;
  background: -moz-linear-gradient(45deg, #2f89fc 0%, #855dff 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #2f89fc), color-stop(100%, #855dff));
  background: -webkit-linear-gradient(45deg, #2f89fc 0%, #855dff 100%);
  background: -o-linear-gradient(45deg, #2f89fc 0%, #855dff 100%);
  background: -ms-linear-gradient(45deg, #2f89fc 0%, #855dff 100%);
  background: linear-gradient(45deg, #2f89fc 0%, #855dff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f89fc', endColorstr='#855dff', GradientType=1 );
  opacity: .8;
  z-index: -1;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.item {
  background: none;
  padding-left: 0px;
  border: none;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}

.nav a {
  color: #212529;
  font-size: 90%;
}

.nav a:hover {
  color: #999;
  font-size: 90%;
} */

.img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.wrapper {
	width: 100%;
}

#sidebar {
	/* min-width: 270px; */
  max-width: 270px;
  /* margin-top: 3.5rem; */
	color: #fff;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
	z-index: 0;
}
#sidebar:after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	background: #2f89fc;
	background: -moz-linear-gradient(45deg, #2f89fc 0%, #855dff 100%);
	background: -webkit-gradient(
		left bottom,
		right top,
		color-stop(0%, #2f89fc),
		color-stop(100%, #855dff)
	);
	background: -webkit-linear-gradient(45deg, #2f89fc 0%, #855dff 100%);
	background: -o-linear-gradient(45deg, #2f89fc 0%, #855dff 100%);
	background: -ms-linear-gradient(45deg, #2f89fc 0%, #855dff 100%);
	background: linear-gradient(45deg, #2f89fc 0%, #855dff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f89fc', endColorstr='#855dff', GradientType=1 );
	opacity: 0.8;
	z-index: -1;
}
#sidebar .h6 {
	color: #fff;
}
#sidebar.active {
	margin-left: -270px;
}
#sidebar h1 {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 30px;
}
#sidebar h1 .logo {
	color: #fff;
}
#sidebar h1 .logo span {
	font-size: 13px;
	color: #fff;
	display: block;
}
#sidebar ul.components {
	padding: 0;
}
#sidebar ul li {
	font-size: 16px;
}
#sidebar ul li > ul {
	margin-left: 10px;
}
#sidebar ul li > ul li {
	font-size: 14px;
}
#sidebar ul li a {
	padding: 10px 0;
	display: block;
	color: rgba(255, 255, 255);
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  text-decoration: none;
}
#sidebar ul li a div {
	color: #fff;
}
#sidebar ul li a:hover {
	color: #fff;
}
#sidebar ul li.active > a {
	background: transparent;
	color: #fff;
}
@media (max-width: 991.98px) {
	#sidebar {
		min-width: 180px;
		max-width: 180px;
	}
}
#sidebar .custom-menu {
	display: inline-block;
	position: absolute;
	top: 20px;
	right: 0;
	margin-right: -20px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
@media (prefers-reduced-motion: reduce) {
	#sidebar .custom-menu {
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
	}
}
#sidebar .custom-menu .btn {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: relative;
}
#sidebar .custom-menu .btn i {
	margin-right: -40px;
	font-size: 14px;
}
#sidebar .custom-menu .btn.btn-primary {
	background: transparent;
	border-color: transparent;
}
#sidebar .custom-menu .btn.btn-primary:after {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	background: #30e3ca;
	border-radius: 10px;
}
#sidebar .custom-menu .btn.btn-primary:hover,
#sidebar .custom-menu .btn.btn-primary:focus {
	background: transparent !important;
	border-color: transparent !important;
}

a[data-toggle="collapse"] {
	position: relative;
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#content {
	width: 100%;
	padding: 0;
	min-height: 100vh;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.btn.btn-primary {
	background: #30e3ca;
	border-color: #30e3ca;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
	background: #30e3ca !important;
	border-color: #30e3ca !important;
}

.footer p {
	color: rgba(255, 255, 255, 0.5);
}

.form-control {
	height: 40px !important;
	background: #fff;
	color: #fff !important;
	font-size: 13px;
	border-radius: 4px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: transparent;
}
.form-control:focus,
.form-control:active {
	border-color: #000;
}
.form-control::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: rgba(255, 255, 255, 0.5);
}
.form-control::-moz-placeholder {
	/* Firefox 19+ */
	color: rgba(255, 255, 255, 0.5);
}
.form-control:-ms-input-placeholder {
	/* IE 10+ */
	color: rgba(255, 255, 255, 0.5);
}
.form-control:-moz-placeholder {
	/* Firefox 18- */
	color: rgba(255, 255, 255, 0.5);
}

.subscribe-form .form-control {
	background: rgba(255, 255, 255, 0.2);
}
