@media (min-width: 768px) {
  .SideNav {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(100vh - 4rem);
    background-color: #001D3A;
    border-right: 1px solid #ececec;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 4rem;
  }
}

.nav a {
  color: #ffffff;
}